@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.news {
  padding: 5%;
  border: 4px solid #91c788;
  border-radius: 25px;
  margin-top: 35%;
}

.news__title {
  font-family: "Shippori Mincho", serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #91c788;
  font-size: 1.5em;
  text-align: start;
  margin-top: 20px;
  color: #52734d;
}

.news__desc {
  padding-top: 15px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
  color: #9a9483;
  text-align: start;
  margin-right: 30px;
  margin-bottom: 10px;
}

.news__author {
  padding: 5px;
  margin-right: 10px;
  color: #52734d;
  display: flex;
  flex-direction: column;
}

.news__published {
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: #9a9483;
  display: flex;
  flex-direction: column;
}
