.navbar {
  background-color: #feffde !important;
  width: auto;
  color: white !important;
  box-shadow: 2px 2px 2px 2px #52734d;
  /* border-bottom: 5px solid #52734d; */
}
.nav-cal {
  width: auto;
  color: #52734d !important;
  font-size: 16px;
  font-weight: bold;
}

#username,
#adminmenu {
  color: #52734d !important;
  font-size: 16px;
}

.cart {
  text-decoration: none !important;
  margin-left: 0rem !important;
  font-size: 16px !important;
  color: #52734d !important;
}

.fa-shopping-cart {
  margin-right: 8px;
  color: #52734d;
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .navbar {
    height: 90px;
  }
  .cart {
    float: right !important;
    margin-left: 35rem !important;
    color: #52734d !important;
    font-size: 16px !important;
    font-size: 16px;
  }
  .remove-space {
    float: right !important;
    margin-left: 35rem !important;
    color: #52734d !important;
    font-size: 16px !important;
  }
  .nav-cal {
    margin-left: 10px;
  }
}

/* Phone */
@media only screen and (max-width: 320px) {
  .nav-cal {
    font-size: 15px !important;
  }
}
